.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 10px 30px !important; */
    border-bottom: 1px solid #f9f9f9
}
.header__logo{
    object-fit: contain;
    height: 40px;
    /* width: 90px; */
    /* margin: 10px 10px !important; */

}

.header__icon{
padding: 5px;
}